{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1>Oh, no! There's an issue with the database</h1>
    <p>
        Unfortunately, there's not much you can do right now. If it's not too much trouble, and if you like, you could bring this to my attention. 
        Please find my contact opportunities on my website: <a href="https://codeschub.se" target="_blank" rel="noopener noreferrer">codeschub.se</a><br />
        Thank you for your effort.
    </p>

{% endblock %}

